<ul class="product-list">
    <div class="product-item">
        <div class="product-info" style="display: flex;">
            <img src="{{%IMAGE%}}" alt="" width="300" height="300" style="object-fit: fill; margin-right: 10px; overflow: hidden; border-radius: 6px; padding: 2rem; background: white;">
            <div>
                <h3>{{%NAME%}}</h3>
                <p><span>OS: </span>{{%OS%}}</p>
                <p><span>YEAR: </span>{{%YEAR%}}</p>
                <p><span>PRICE: </span>{{%PRICE%}}</p>
                <p><span>CHIPSET: </span>{{%CHIPSET%}}</p>
                <p><span>RAM: </span>{{%RAM%}}</p>
                <p><span>STORAGE: </span>{{%STORAGE%}}</p>
                <p><span>BATTERY: </span>{{%BATTERY%}}</p>
                <p><span>DESCRIPTION: </span>{{%DESCRIPTION%}}</p>
                <a href="/products?id={{%ID%}}">SHOW DETAILS</a>
            </div>
        </div>
    </div>
</ul>
